.footer {

  margin: 0;
  width: 100%;
  padding: 95px 0;

}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__contact--title {
  color: #fff;
  width: 201px;
  height: 44px;
  margin: 0;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;

}

.footer__contact--mail {
  color: #6D6DFF;
  width: 194px;
  height: 25px;
  margin: 30px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer__rrss {
  width: 294px;
  display: flex;
  justify-content: space-between;

}

.footer__rrss--icon {
  width: 24px;
  height: 24px;
}