body {
  margin: 0;
  width: 100%;

  background:

    radial-gradient(ellipse at 78% 17%,
      rgba(128, 126, 125, 0.72) 0%,
      rgba(66, 65, 64, 0.35) 22%,
      transparent 45%),
    radial-gradient(ellipse at 50% 92%,
      rgba(128,126,125, 0.62) 0%,
      rgba(66,65,64, 0.3) 25%,
      transparent 48%),
    #101010;


}

.header {
  display: flex;
  position: relative;
  margin: 0;
  width: 100%;

}

.header__title {

  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  width: 793px;
  height: 156px;
  padding-top: 89px;
  padding-left: 120px;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0;

}

.header__info {

  color: rgb(255, 255, 255, 0.5);
  width: 793px;
  height: 25px;
  margin-left: 120px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;

}

.header__description {
  color: #fff;
  width: 793px;
  height: 150px;
  margin-top: 30px;
  margin-left: 120px;
  margin-bottom: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.nav {
  margin-top: 45px;
}

.nav__links {
  color: #fff;
  width: 115px;
  height: 25px;
  margin-left: 120px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;

  padding-bottom: 10px;
  background-image: linear-gradient(90deg, #AED4A9, #5E735D);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 4px;
}


.photo {
  display: flex;
  position: absolute;
  right: 120px;
  top: 40px;
  width: 400px;
  height: 510px;
  object-fit: cover;
  border-radius: 50%;
}


/* main.css */


.main {
  margin-top: 0;
  width: 100%;

  margin: 0;

}

main h2 {
  margin-top: 0;
  color: #fff;
  width: 603px;
  height: 44px;
  padding-top: 95px;
  margin-left: 120px;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin: 50px 30px;
}

.skills__tools {
  width: 50px;
  height: 50px;

}

main h3 {
  width: 603px;
  height: 44px;
  color: #fff;
  margin-top: 95px;
  margin-left: 120px;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.projects {
  display: flex;
  margin: 50px 120px 0px;
  justify-content: space-between;

}

.projects__coffee,
.projects__my {
  background-color: #1C1C1C;
  height: 680px;
  position: relative;
}

.projects__coffee--img,
.projects__my--img {

  height: 330px;

}

.projects__coffee--min1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 15px;
  top: 280px;
}

.projects__coffee--min2 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 70px;
  top: 280px;
}

.projects__coffee--title,
.projects__my--title {
  color: #fff;
  width: 339px;
  height: 33px;
  margin: 0px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 30px;

}

.projects__coffee--p,
.projects__my--p {
  color: #fff;
  width: 530px;
  height: 175px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;

}

.projects__coffee--logo1,
.projects__my--logo1 {
  width: 132px;
  height: 22px;
  margin: 30px 15px 0 30px;
}


/* footer.css */


.footer {

  margin: 0;
  width: 100%;
  padding: 95px 0;

}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__contact--title {
  color: #fff;
  width: 201px;
  height: 44px;
  margin: 0;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;

}

.footer__contact--mail {
  color: #6D6DFF;
  width: 194px;
  height: 25px;
  margin: 30px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer__rrss {
  width: 294px;
  display: flex;
  justify-content: space-between;

}

.footer__rrss--icon {
  width: 24px;
  height: 24px;
}