body {
  margin: 0;


  background:

    radial-gradient(circle at 78% 17%,
      rgba(128, 126, 125, 0.72) 0%,
      rgba(66, 65, 64, 0.35) 22%,
      transparent 45%),
    radial-gradient(circle at 50% 92%,
      rgba(128,126,125, 0.62) 0%,
      rgba(66,65,64, 0.3) 25%,
      transparent 48%),
    #101010;

}

.header {
  margin: 0;
}

.header__div {
  display: flex;
  justify-content: space-between;
}

.header__text {
  margin: 89px 0 0 120px;
  height: 100%;

}

.header__title {
  color: #fff;
  width: 793px;
  margin: 0;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0;

}

.header__info {
  color: rgb(208, 219, 195, 0.5);
  width: 790px;
  margin: 20px 0 0 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;

}

.header__description {
  color: #fff;
  width: 90%;
  height: 100%;
  margin: 30px 0 0 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.photo {
  margin: 40px 120px 0 0;
  width: 387px;
  height: 500px;
  border-radius: 50%;
}

.nav {
  margin: 45px 0 0 0;

}

.nav a {
  margin: 0 30px 0 0;
}

.nav__links {
  color: #fff;
  width: 115px;
  height: 25px;
  margin-left: 120px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;

  padding-bottom: 10px;
  background-image: linear-gradient(90deg, #AED4A9, #5E735D);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 4px;
}

.nav__links:hover {
  opacity: 0.5;

}



