.main {
  width: 100%;
  padding: 0 120px 0;
  box-sizing: border-box;
}

main h2 {
  margin: 95px 0 0 0;
  color: #fff;
  width: 100%;
  height: 100%;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.skills__tools {
  width: 50px;
  height: 50px;

}

main h3 {
  width: 100%;
  height: 100%;
  color: #fff;
  margin-top: 95px;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.projects {
  display: flex;
  margin: 0;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: nowrap;

}

.projects__coffee,
.projects__my {
  position: relative;
  background-color: #1c1c1c;
  width: min(100%, 590px);
  min-height: 680px;
}

.projects__coffee--img,
.projects__my--img {
  width: 100%;
  object-fit: cover;

}

.projects__coffee--min1, .projects__coffee--min2  {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 15px;
  top: 340px;
}

.projects__coffee--min2 {
  left: 70px;

}

.projects__coffee--title,
.projects__my--title {
  color: #fff;
  width: auto;
  height: 100%;
  margin: 0px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 30px;

}

.projects__coffee--p,
.projects__my--p {

  color: #fff;
  width: auto;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;

}

.projects__coffee--logo1,
.projects__my--logo1 {
  width: 132px;
  height: 22px;
  margin: 30px 0 20px 30px;
}

.projects__coffee--logo2,
.projects__my--logo2 {
  width: 83px;
  height: 22px;
  margin: 30px 20px 20px;
}

.projects__coffee--logo1:hover {
  opacity: 0.5;
}

.projects__my--logo1:hover {
  opacity: 0.5;
}

.projects__coffee--logo2:hover {
  opacity: 0.5;
}

.projects__my--logo2:hover {
  opacity: 0.5;
}