@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;

  }

  .header__div {
    display: inline-block;
    margin: 20px 20px 0;

  }

  .header__text {
    margin: 0;
    height: 100%;

  }

  .header__title {
    width: 70%;
    margin: 0;
    font-size: 36px;
  }

  .header__info {
    margin: 20px 0 0 0;
    width: 70%;
    font-size: 16px;
    margin: 15px 0 0 0;
  }

  .header__description {
    width: 98%;
    height: 100%;
    margin: 20px 0 0 0;
    font-size: 16px;
  }

  .photo {
    display: flex;
    width: 280px;
    height: 280px;
    margin: 20px 0;

  }

  .nav {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;

  }

  .nav__links {
    width: max-content;
    height: 30px;

  }

  /* media q main*/

  .main {
    width: 100%;
    padding: 0 20px 0;
    box-sizing: border-box;
  }

  .skills {
    margin: 40px 0;
    flex-wrap: wrap;

  }

  .skills__tools {
    width: 30px;
    height: 30px;
  }

  main h2, main h3 {
    width: 60%;
    margin: 50px 0 0 0;
    font-size: 28px;
    line-height: 100%;
  }

  main h3 {
    margin: 50px 0 40px 0;
  }

  .projects__coffee--title,
  .projects__my--title {
    font-size: 20px;
    padding: 20px;
  }

  .projects__coffee--p,
  .projects__my--p {
    display: flex;
    width: auto;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;

  }


  .footer__contact--title {
    width: auto;
    font-size: 28px;
    justify-content: center;
    margin: 0;
  }

  .footer__contact--mail a {
    height: 100%;
    font-size: 16px;
    margin: 0 0 10px;
    }

  .footer__rrss {
    width: 194px;
    display: flex;
    justify-content: space-between;   }

}